@charset "ISO-8859-1";
*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:times new roman;
}
body
{
display:flex;
align-items:center;
justify-content:center;
min-height:100vh;
background-color:#343F4F;
position:relative;
}
.container
{
	display:inline-flex;
}
.container .permanent
{
background:-webkit-linear-gradient(#BC243C,#C3447A);
background-clip:text;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
font-size:60px;
font-weight:600;
}
.container .temperory 
{
	 color:#7fcdcd;	
	margin-left:15px;
	height:90px;
	line-height:90px;
	overflow:hidden;
}
.temperory li
{
	
	list-style:none;
	font-size:60px;
	font-weight:400;
	position:relative;
	top:0;
	animation:slide 6s steps(4) infinite;
}
@keyframes slide
{
	100%
	{
	top:-360px;
	}
}
	
.temperory li span
{
	position:relative;
}
.temperory li span::after
{
	content:"";
	position:absolute;
	left:0;
	height:100%;
	width:100%;
	background:#343F4F;
	border-left:2px solid red;
	animation:typing 1.5s steps(20) infinite ;
}
@keyframes typing
{
	100%
	{
	left:100%;
	margin:0 -35px 0 35px;
	}
}
 .container
{
	left:90px;
	width:100%;
	height:100vh;
   	background-size:cover;
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
}
.cards
{
	width:360px;
	height:460px;
	perspective:1000px;
	position:relative;
	}
.left
{
	position:absolute;
    top:0;
    left:0;
    background-image:linear-gradient(to right, #BC243C, #C3447A , #D65076);
	width:50%;
	height:100%;
	transform-origin:left;
	transition:transform 1s;
	 }
	 .right
{
	position:absolute;
    top:0;
    right:0;
    background-image:linear-gradient(to left,#34568b,#6b5b95,#92abd1,#b565a7);
     background:url(photo1.png);
    background-repeat:no-repeat;
    background-size:200px 500px;
    z-index:1;
    width:50%;
	height:100%;
	transform-origin:right;
	transition:transform 1s;
	 } 
 .Back
{
	 position:absolute;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    background:url(photo.png);
    background-repeat:no-repeat;
    background-color:white;
    background-size:300px 480px;
	width:100%;
	height:100%;
	z-index: -1;
	transform:translateZ(-300px);
	transition:zindex .4s step-end,transform 1s;
}
.cards:hover .left
{
	transform:rotateY(-360deg);
}
.cards:hover .right
{
	transform:rotateY(360deg);
}
.cards:hover .Back
{
	transform:translateZ(0);
	z-index:1;
}
.na
{
	color:white;
	font-size:15px;
	text-align:center;
}
.wishes
{
	color:black;
	font-size:32px;
	background-color:white;
	width:100%;
	text-align:center;
	padding:10px;
}
